@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

.container {
    display:flex;
    min-height: 100vh;
}

.left-div {
    margin-top: 62px;
    width: 60%;
    padding: 0 231px 0 164px;
}

.logo {
    margin-bottom: 80px; 
}

h1 {
    text-transform: uppercase;
    font-size: 55px;
    letter-spacing: 15px;
    color: hsl(0, 6%, 24%);
}

h1 span {
    font-weight: 200;
    color: hsl(0, 36%, 70%);
}

p {
    color: hsl(0, 36%, 70%);
    line-height: 1.5;
    margin-top: 10px;
}

form {
    margin-top: 40px;
    position: relative;
}

input {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    box-shadow: 0px 0px 10px hsl(0, 36%, 70%, 0.5);
    width: 100%;
    background-color: transparent;
    border: 1px solid hsla(0, 6%, 24%, 0.473);
    border-radius: 50px;
    height: 53px;
    color: hsl(0, 6%, 24%);
    padding: 15px;
    transition: border ease-in 0.3s;
}

input:focus {
    border: 1px solid hsl(0, 36%, 70%);
    outline: none;
}

button {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 2px 5px 10px hsl(0, 36%, 70%, 0.5);
    padding: 15px;
    border: none;
    border-radius: 50px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

.right-div {
    width: 40%;
    background-image: url(./images/hero-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.bg-mobile {
    display: none;
}

.attribution { 
    font-size: 12px; 
    text-align: left; 
    margin-top: 30px;
}
.attribution a { 
    color: hsl(0, 36%, 70%); 
}



 @media (max-width: 550px) {
     .left-div {
         width: 100%;
         padding: 0 40px;
         margin-top: 0px;
         text-align: center;
     }

     h1 {
        font-size: 45px;
        margin-top: 50px;
        margin-bottom: 30px;
     }

     p {
         margin: 10px;
     }

    .right-div {
        display: none;
    }

    .bg-mobile {
        display: block;
        width: calc(100% + 80px);
        margin-left: -40px;
        margin-right: -40px;
        
    }

    .logo {
        width: 100px;
        margin: 20px 0;
        padding: 0;
        display: flex;
        align-items: flex-start;
    }

    .attribution {
        text-align: center;
        margin-bottom: 20px;
    }
 }  