@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 100%, 74%) ;
    background-image: url(./images/bg-intro-desktop.png);
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    display: flex;
    max-width: 1107px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
}

.hero-text h1 {
    font-size: 42px;
    /* padding-right: 250px; */
    margin-bottom: 20px;
}

.hero-text p {
    color: rgba(255, 255, 255, 0.514);
}

.container > div {
    flex: 1;
}


.box {
    max-width: 500px;
    background-color: white;
    color:hsl(246, 25%, 77%);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px rgba(0,0,0,0.2)
}

input {
    font-weight: 500;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 15px 25px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

input:focus {
    border: 1px solid hsla(249, 10%, 26%, 0.555);
    outline: none;
}

.blue-box {
    margin-bottom: 20px;
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    padding: 15px !important; 
    color: white;
}

form button {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-transform: uppercase;
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 5px;
    color:white;
    font-weight: 700;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}

small span {
    color: hsl(0, 100%, 74%);
}

small {
    font-size: 12px;
    text-align: center;
    display: block;
    margin-top: 15px;
}

.attribution { 
    font-size: 13px; text-align: center; 
    margin-bottom: 40px;
}

.attribution a { 
    color: hsl(249, 10%, 26%); 
    text-decoration: none;
}

@media (max-width: 550px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
    }

    .hero-text {
        text-align: center;
        padding: 0;
        margin-bottom: 25px;
        padding: 0 20px;
    }

    
.blue-box {
    margin-bottom: 20px;
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    padding: 15px 90px !important; 
    color: white;
}


    .attribution {
        margin-top: 20px;
        font-size: 11px;
    }
}